In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/SAFI_results.csv")

In [3]:
df

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.000,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Province1,District1,Ward2,Village2,2,...,no,3,2,7,NaN,19.000,690,-19.112477,33.483416,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,2,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Province1,District1,Ward2,Village2,40,...,no,1,2,10,NaN,13.000,674,-19.112108,33.483450,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,3,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,7,NaN,5.000,679,-19.112229,33.483424,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.000,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d
5,5,17/11/2016,6,2017-04-02T15:27:25.000Z,2017-04-02T17:28:02.000Z,Province1,District1,Ward2,Village2,3,...,no,1,2,3,NaN,12.000,692,-19.112196,33.483392,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
6,6,17/11/2016,7,2017-04-02T15:38:01.000Z,2017-04-02T17:28:19.000Z,Province1,District1,Ward2,Village2,20,...,no,1,3,6,NaN,11.000,709,-19.112219,33.483365,uuid:ae20a58d-56f4-43d7-bafa-e7963d850844
7,7,16/11/2016,8,2017-04-02T15:59:52.000Z,2017-04-02T17:28:39.000Z,Province1,District1,Ward1,Village3,16,...,no,2,2,12,NaN,9.000,700,-19.112160,33.483419,uuid:d6cee930-7be1-4fd9-88c0-82a08f90fb5a
8,8,16/11/2016,9,2017-04-02T16:23:36.000Z,2017-04-02T16:42:08.000Z,Province1,District1,Ward2,Village3,16,...,no,3,3,8,NaN,11.000,701,-19.112215,33.483437,uuid:846103d2-b1db-4055-b502-9cd510bb7b37
9,9,16/12/2016,10,2017-04-02T17:03:28.000Z,2017-04-02T17:25:11.000Z,Province1,District1,Ward2,Village3,22,...,no,2,3,12,NaN,14.000,710,-19.112215,33.483394,uuid:8f4e49bc-da81-4356-ae34-e0d794a23721
10,10,21/11/2016,11,2017-04-03T03:16:15.000Z,2017-04-03T03:31:10.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,6,NaN,10.000,707,-19.112191,33.483459,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
11,11,21/11/2016,12,2017-04-03T03:31:13.000Z,2017-04-03T03:58:34.000Z,Province1,District1,Ward2,Village2,20,...,no,2,3,7,NaN,13.000,696,-19.112295,33.483415,uuid:e6ee6269-b467-4e37-91fc-5e9eaf934557
12,12,21/11/2016,13,2017-04-03T03:58:43.000Z,2017-04-03T04:19:36.000Z,Province1,District1,Ward2,Village2,7,...,no,3,2,6,NaN,15.000,706,-19.112369,33.483556,uuid:6c00c145-ee3b-409c-8c02-2c8d743b6918
13,13,21/11/2016,14,2017-04-03T04:19:57.000Z,2017-04-03T04:50:05.000Z,Province1,District1,Ward2,Village2,20,...,no,3,3,10,NaN,11.000,698,-19.112221,33.483439,uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d
14,14,21/11/2016,15,2017-04-03T05:12:17.000Z,2017-04-03T05:28:44.000Z,Province1,District1,Ward2,Village2,30,...,no,3,2,5,NaN,9.000,715,-19.112079,33.483397,uuid:a837e545-ff86-4a1c-a1a5-6186804b985f
15,15,24/11/2016,16,2017-04-03T05:29:24.000Z,2017-04-03T05:40:53.000Z,Province1,District1,Ward2,Village2,24,...,no,4,3,6,NaN,9.000,709,-19.112107,33.483444,uuid:d17db52f-4b87-4768-b534-ea8f9704c565
16,16,21/11/2016,17,2017-04-03T05:41:42.000Z,2017-04-03T05:57:57.000Z,Province1,District1,Ward2,Village2,10,...,yes,1,2,8,NaN,10.000,710,-19.112183,33.483463,uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b
17,17,21/11/2016,18,2017-04-03T12:27:04.000Z,2017-04-03T12:39:48.000Z,Province1,District1,Ward2,Village2,6,...,no,3,2,4,NaN,17.000,685,-19.111335,33.476308,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
18,18,21/11/2016,19,2017-04-03T12:40:14.000Z,2017-04-03T12:53:29.000Z,Province1,District1,Ward2,Village2,20,...,no,2,3,9,NaN,30.000,716,-19.111426,33.476408,uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d
19,19,21/11/2016,20,2017-04-03T14:04:50.000Z,2017-04-03T14:20:04.000Z,Province1,District1,Ward2,Village2,24,...,yes,1,2,6,NaN,27.000,700,-19.111473,33.476192,uuid:d1005274-bf52-4e79-8380-3350dd7c2bac
20,20,21/11/2016,21,2017-04-03T14:24:58.000Z,2017-04-03T14:44:39.000Z,Province1,District1,Ward2,Village2,20,...,no,3,2,8,NaN,20.000,707,-19.111550,33.476231,uuid:6570a7d0-6a0b-452c-aa2e-922500e35749
21,21,21/11/2016,22,2017-04-03T16:28:52.000Z,2017-04-03T16:40:47.000Z,Province1,District1,Ward2,Village2,14,...,no,1,2,4,NaN,9.000,722,-19.112127,33.483508,uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9
22,22,21/11/2016,23,2017-04-03T16:41:04.000Z,2017-04-03T17:04:28.000Z,Province1,District1,Ward2,Village1,12,...,no,3,3,10,NaN,10.000,699,-19.112194,33.483383,uuid:58b37b6d-d6cd-4414-8790-b9c68bca98de
23,23,21/11/2016,24,2017-04-03T17:19:49.000Z,2017-04-03T17:43:01.000Z,Province1,District1,Ward2,Village1,8,...,no,3,2,6,NaN,11.000,745,-19.112188,33.483435,uuid:661457d3-7e61-45e8-a238-7415e7548f82
24,24,21/11/2016,25,2017-04-04T04:01:58.000Z,2017-04-04T04:29:47.000Z,Province1,District1,Ward2,Village1,10,...,no,2,2,11,NaN,11.000,698,-19.112234,33.483484,uuid:45ed84c4-114e-4df0-9f5d-c800806c2bee
25,25,21/11/2016,26,2017-04-04T04:30:19.000Z,2017-04-04T04:44:19.000Z,Province1,District1,Ward2,Village1,2,...,no,2,2,3,NaN,12.000,706,-19.112304,33.483543,uuid:1c54ee24-22c4-4ee9-b1ad-42d483c08e2e
26,26,21/11/2016,27,2017-04-05T04:59:42.000Z,2017-04-05T05:14:45.000Z,Province1,District1,Ward2,Village1,36,...,no,3,3,7,NaN,14.000,679,-19.043001,33.405084,uuid:3197cded-1fdc-4c0c-9b10-cfcc0bf49c4d
27,27,21/11/2016,28,2017-04-05T05:14:49.000Z,2017-04-05T05:36:18.000Z,Province1,District1,Ward2,Village1,2,...,no,1,3,2,NaN,7.000,721,-19.042909,33.405069,uuid:1de53318-a8cf-4736-99b1-8239f8822473
28,28,21/11/2016,29,2017-04-05T05:37:30.000Z,2017-04-05T06:05:44.000Z,Province1,District1,Ward2,Village1,10,...,no,1,3,7,NaN,6.000,657,-19.043024,33.405073,uuid:adcd7463-8943-4c67-b25f-f72311409476
29,29,21/11/2016,30,2017-04-05T06:05:58.000Z,2017-04-05T06:20:39.000Z,Province1,District1,Ward2,Village1,22,...,no,1,2,7,NaN,5.000,669,-19.043005,33.405054,uuid:59341ead-92be-45a9-8545-6edf9f94fdc6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,101,28/04/2017,105,2017-04-28T15:32:38.000Z,2017-04-28T15:58:10.000Z,Province1,District1,Ward2,Village1,20,...,yes,2,3,6,NaN,11.000,735,-19.112212,33.483505,uuid:af0904ee-4fdb-4090-973f-599c81ddf022
102,102,30/04/2017,106,2017-04-30T05:51:18.000Z,2017-04-30T06:47:01.000Z,Province1,District1,Ward2,Village2,22,...,no,2,3,15,NaN,5.000,709,-19.112210,33.483409,uuid:468797c1-4a65-4f35-9c83-e28ce46972a2
103,103,03/05/2017,109,2017-05-03T13:14:43.000Z,2017-05-03T13:37:53.000Z,Province1,District1,Ward2,Village2,12,...,no,3,3,4,NaN,10.000,699,-19.112224,33.483380,uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4
104,104,03/05/2017,110,2017-05-03T13:37:57.000Z,2017-05-03T13:58:06.000Z,Province1,District1,Ward2,Village1,22,...,no,3,2,6,NaN,9.000,704,-19.112198,33.483397,uuid:e7c51ac4-24e4-475e-88e7-f85e896945e3
105,105,03/05/2017,113,2017-05-03T14:00:13.000Z,2017-05-03T14:27:03.000Z,Province1,District1,Ward2,Village1,16,...,no,4,3,11,NaN,12.000,706,-19.112227,33.483407,uuid:01210861-aba1-4268-98d0-0260e05f5155
106,106,04/05/2017,118,2017-05-04T10:26:35.000Z,2017-05-04T10:46:35.000Z,Province1,District1,Ward2,Village1,6,...,no,1,3,5,NaN,9.000,713,-19.112206,33.483442,uuid:77335b2e-8812-4a35-b1e5-ca9ab626dfea
107,107,04/05/2017,125,2017-05-04T10:47:05.000Z,2017-05-04T11:16:05.000Z,Province1,District1,Ward2,Village1,7,...,yes,2,3,5,NaN,11.000,682,-19.112180,33.483410,uuid:02b05c68-302e-4e7a-b229-81cb1377fd29
108,108,04/05/2017,119,2017-05-04T11:16:57.000Z,2017-05-04T11:38:38.000Z,Province1,District1,Ward2,Village1a,14,...,no,4,3,3,NaN,5.000,706,-19.112257,33.483348,uuid:fa201fce-4e94-44b8-b435-c558c2e1ed55
109,109,11/05/2017,115,2017-05-11T05:24:25.000Z,2017-05-11T05:41:56.000Z,Province1,District1,Ward2,Village1b,16,...,no,3,3,4,NaN,20.000,0,-19.111469,33.476105,uuid:628fe23d-188f-43e4-a203-a4bf3257d461
110,110,11/05/2017,108,2017-05-11T05:42:08.000Z,2017-05-11T06:08:58.000Z,Province1,District1,Ward2,Village2,22,...,no,4,3,15,NaN,20.000,0,-19.111469,33.476105,uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b
111,111,11/05/2017,116,2017-05-11T06:09:56.000Z,2017-05-11T06:22:19.000Z,Province1,District1,Ward2,Village1a,21,...,no,3,3,5,NaN,20.000,0,-19.111469,33.476105,uuid:cfee6297-2c0e-4f8a-94cc-9aaee0bd64cb
112,112,11/05/2017,117,2017-05-11T06:28:02.000Z,2017-05-11T06:55:35.000Z,Province1,District1,Ward2,Village1a,1,...,no,1,3,10,NaN,20.000,0,-19.111469,33.476105,uuid:3fe626b3-c794-48e1-a80f-5bfe440c507b
113,113,18/05/2017,144,2017-05-18T04:36:23.000Z,2017-05-18T05:02:38.000Z,Province1,District1,Ward2,Village1,5,...,no,4,2,7,NaN,5.000,710,-19.112188,33.483422,uuid:0670cef6-d233-4852-89d8-36955261b0a3
114,114,18/05/2017,143,2017-05-18T05:55:04.000Z,2017-05-18T06:37:10.000Z,Province1,District1,Ward2,Village1,24,...,no,3,3,10,NaN,1911.000,0,-19.112485,33.476332,uuid:9a096a12-b335-468c-b3cc-1191180d62de
115,115,18/05/2017,150,2017-05-18T10:37:37.000Z,2017-05-18T10:56:00.000Z,Province1,District1,Ward2,Village1,8,...,yes,1,3,7,NaN,17.000,709,-19.111477,33.476184,uuid:92613d0d-e7b1-4d62-8ea4-451d7cd0a982
116,116,18/05/2017,159,2017-05-18T10:56:16.000Z,2017-05-18T11:07:35.000Z,Province1,District1,Ward2,Village2,17,...,no,1,3,4,NaN,28.000,712,-19.111495,33.476175,uuid:37577f91-d665-443e-8d70-b914954cef4b
117,117,03/06/2017,160,2017-06-03T05:08:49.000Z,2017-06-03T05:32:19.000Z,Province1,District1,Ward2,Village2,3,...,no,2,2,7,NaN,12.000,711,-19.112185,33.483449,uuid:f22831ec-6bc3-4b73-9197-4b01e01abb66
118,118,03/06/2017,165,2017-06-03T05:32:33.000Z,2017-06-03T05:51:49.000Z,Province1,District1,Ward2,Village1,14,...,no,3,3,9,NaN,9.000,708,-19.112174,33.483465,uuid:62f3f7af-f0f3-4f88-b9e0-acf8baa49ae4
119,119,03/06/2017,166,2017-06-03T05:53:28.000Z,2017-06-03T06:25:06.000Z,Province1,District1,Ward2,Village1,16,...,no,1,2,11,NaN,1799.999,0,-19.113859,33.482665,uuid:40aac732-94df-496c-97ba-5b67f59bcc7a
120,120,03/06/2017,167,2017-06-03T06:25:09.000Z,2017-06-03T06:45:06.000Z,Province1,District1,Ward2,Village1,16,...,yes,3,2,8,NaN,2000.000,0,-19.114989,33.488268,uuid:a9d1a013-043b-475d-a71b-77ed80abe970
121,121,03/06/2017,174,2017-06-03T06:50:47.000Z,2017-06-03T07:20:21.000Z,Province1,District1,Ward2,Village1,13,...,no,3,3,12,NaN,3.000,703,-19.112168,33.483405,uuid:43ec6132-478c-4f87-878d-fb3c0c4d0c74
122,122,03/06/2017,175,2017-06-03T07:21:48.000Z,2017-06-03T07:51:29.000Z,Province1,District1,Ward2,Village1,11,...,yes,4,2,7,NaN,5.000,705,-19.112180,33.483360,uuid:64fc743e-8176-40f6-8ae4-36ae97fac1d9
123,123,03/06/2017,189,2017-06-03T15:23:01.000Z,2017-06-03T15:53:10.000Z,Province1,District1,Ward2,Village1,10,...,no,3,3,15,NaN,4.000,714,-19.112168,33.483415,uuid:c17e374c-280b-4e78-bf21-74a7c1c73492
124,124,03/06/2017,191,2017-06-03T15:54:03.000Z,2017-06-03T16:17:26.000Z,Province1,District1,Ward2,Village1,3,...,no,1,2,10,NaN,9.000,709,-19.112192,33.483381,uuid:dad53aff-b520-4015-a9e3-f5fdf9168fe1
125,125,03/06/2017,192,2017-06-03T16:17:55.000Z,2017-06-03T17:16:39.000Z,Province1,District1,Ward2,Village3,15,...,no,1,3,9,NaN,4.000,705,-19.112154,33.483359,uuid:f94409a6-e461-4e4c-a6fb-0072d3d58b00
126,126,18/05/2017,126,2017-05-18T04:13:37.000Z,2017-05-18T04:35:47.000Z,Province1,District1,Ward2,Village1,5,...,no,3,3,3,NaN,7.000,700,-19.112194,33.483379,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
127,127,04/06/2017,193,2017-06-04T09:36:20.000Z,2017-06-04T10:13:32.000Z,Province1,District1,Ward2,Village1,10,...,no,3,3,7,NaN,9.000,720,-19.112157,33.483390,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
128,128,04/06/2017,194,2017-06-04T10:13:36.000Z,2017-06-04T10:32:06.000Z,Province1,District1,Ward2,Village1,5,...,no,1,3,4,NaN,10.000,719,-19.112271,33.483471,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,129,04/06/2017,199,2017-06-04T10:33:55.000Z,2017-06-04T10:52:22.000Z,Province1,District1,Ward2,Village3,17,...,no,2,3,7,NaN,5.000,711,-19.112278,33.483390,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,130,04/06/2017,200,2017-06-04T10:52:46.000Z,2017-06-04T11:08:13.000Z,Province1,District1,Ward2,Village3,20,...,no,3,3,8,NaN,20.000,681,-19.112183,33.483372,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [4]:
df.describe()

,Column1,A03_quest_no,A11_years_farm,B16_years_liv,B_no_membrs,C02_respondent_wall_type_other,C05_buildings_in_compound,C06_rooms,D_plots_count,E19_period_use,...,F05_money_source_other,F10_liv_owned_other,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude
count,131.000000,131.000000,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,92.000000,...,0.0,0.0,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,131.000000
mean,65.000000,85.473282,15.832061,23.053435,7.19084,NaN,2.068702,1.740458,2.229008,12.043478,...,NaN,NaN,2.366412,2.603053,7.19084,NaN,71.115344,648.221374,-19.102671,33.471971
std,37.960506,63.151628,10.903883,16.913041,3.17227,NaN,1.241530,1.092547,1.078210,8.583031,...,NaN,NaN,1.082775,0.491143,3.17227,NaN,335.854190,187.697067,0.023754,0.027081
min,0.000000,1.000000,1.000000,1.000000,2.00000,NaN,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,1.000000,2.000000,2.00000,NaN,3.000000,0.000000,-19.114989,33.403836
25%,32.500000,32.500000,8.000000,12.000000,5.00000,NaN,1.000000,1.000000,2.000000,4.000000,...,NaN,NaN,1.000000,2.000000,5.00000,NaN,9.000000,691.000000,-19.112222,33.483329
50%,65.000000,66.000000,15.000000,20.000000,7.00000,NaN,2.000000,1.000000,2.000000,10.000000,...,NaN,NaN,2.000000,3.000000,7.00000,NaN,11.000000,702.000000,-19.112188,33.483397
75%,97.500000,138.000000,20.500000,27.500000,9.00000,NaN,3.000000,2.000000,3.000000,20.000000,...,NaN,NaN,3.000000,3.000000,9.00000,NaN,13.000000,710.000000,-19.112077,33.483438
max,130.000000,202.000000,60.000000,96.000000,19.00000,NaN,8.000000,8.000000,8.000000,45.000000,...,NaN,NaN,5.000000,3.000000,19.00000,NaN,2099.999000,745.000000,-19.042909,33.488268

In [5]:
df["B_no_membrs"].describe()

count    131.00000
mean       7.19084
std        3.17227
min        2.00000
25%        5.00000
50%        7.00000
75%        9.00000
max       19.00000
Name: B_no_membrs, dtype: float64

In [6]:
df.B_no_membrs.describe()

count    131.00000
mean       7.19084
std        3.17227
min        2.00000
25%        5.00000
50%        7.00000
75%        9.00000
max       19.00000
Name: B_no_membrs, dtype: float64

In [7]:
df.B_no_membrs.min()

2

In [8]:
df.B_no_membrs.std()

3.1722704895263734

In [9]:
df.B_no_membrs.sum()

942

In [10]:
df.B_no_membrs.mean()

7.190839694656488

# %load code/counts
Compare the count values returned for the `B_no_membrs` and the `E19_period_use` variables.

1. How can you investigate why they're different?
2. How does this affect the calculation of the mean values?

In [11]:
df.B_no_membrs.count()

131

In [12]:
df.E19_period_use.count()

92

In [13]:
df[ ["B_no_membrs", "E19_period_use"] ].count()

B_no_membrs       131
E19_period_use     92
dtype: int64

In [14]:
df[ ["B_no_membrs", "E19_period_use"] ]

     B_no_membrs  E19_period_use
0              3             NaN
1              7             2.0
2             10             NaN
3              7             NaN
4              7             NaN
5              3             NaN
6              6            10.0
7             12            10.0
8              8             6.0
9             12            22.0
10             6             NaN
11             7            20.0
12             6             7.0
13            10             NaN
14             5            30.0
15             6             NaN
16             8             NaN
17             4             NaN
18             9             NaN
19             6             NaN
20             8            20.0
21             4             NaN
22            10             NaN
23             6             8.0
24            11            10.0
25             3             2.0
26             7             NaN
27             2             2.0
28             7             4.0
29             7             NaN
..           ...             ...
101            6             1.0
102           15            21.0
103            4             NaN
104            6            22.0
105           11             2.0
106            5             NaN
107            5             3.0
108            3             3.0
109            4             NaN
110           15            16.0
111            5             NaN
112           10             NaN
113            7             5.0
114           10            12.0
115            7             8.0
116            4             2.0
117            7             3.0
118            9            10.0
119           11             2.0
120            8            16.0
121           12            13.0
122            7            11.0
123           15             7.0
124           10             3.0
125            9             5.0
126            3             4.0
127            7            10.0
128            4             2.0
129            7             6.0
130            8             NaN

[131 rows x 2 columns]

In [15]:
df[ ["B_no_membrs", "E19_period_use"] ].mean()

B_no_membrs        7.190840
E19_period_use    12.043478
dtype: float64

In [16]:
df.isnull().sum()

Column1                             0
A01_interview_date                  0
A03_quest_no                        0
A04_start                           0
A05_end                             0
A06_province                        0
A07_district                        0
A08_ward                            0
A09_village                         0
A11_years_farm                      0
A12_agr_assoc                       0
B11_remittance_money                0
B16_years_liv                       0
B17_parents_liv                     0
B18_sp_parents_liv                  0
B19_grand_liv                       0
B20_sp_grand_liv                    0
B_no_membrs                         0
C01_respondent_roof_type            0
C02_respondent_wall_type            0
C02_respondent_wall_type_other    131
C03_respondent_floor_type           0
C04_window_type                     0
C05_buildings_in_compound           0
C06_rooms                           0
C07_other_buildings                 0
D_plots_count                       0
E01_water_use                       0
E17_no_enough_water                39
E19_period_use                     39
E20_exper_other                    39
E21_other_meth                     39
E23_memb_assoc                     39
E24_resp_assoc                     98
E25_fees_water                     39
E26_affect_conflicts               39
E_no_group_count                   92
E_yes_group_count                  39
F04_need_money                     39
F05_money_source_other            131
F06_crops_contr                    39
F08_emply_lab                       0
F09_du_labour                       0
F10_liv_owned_other               131
F12_poultry                         0
F13_du_look_aftr_cows               0
F_liv_count                         0
G01_no_meals                        0
_members_count                      0
_note                             131
gps:Accuracy                        0
gps:Altitude                        0
gps:Latitude                        0
gps:Longitude                       0
instanceID                          0
dtype: int64

In [17]:
df.E19_period_use.isnull().sum()

39

In [18]:
df.shape

(131, 55)

In [19]:
import numpy as np

np.NaN

nan

In [20]:
df.E19_period_use.replace(0, np.NaN, inplace=True)

In [21]:
df.E19_period_use

0       NaN
1       2.0
2       NaN
3       NaN
4       NaN
5       NaN
6      10.0
7      10.0
8       6.0
9      22.0
10      NaN
11     20.0
12      7.0
13      NaN
14     30.0
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20     20.0
21      NaN
22      NaN
23      8.0
24     10.0
25      2.0
26      NaN
27      2.0
28      4.0
29      NaN
       ...
101     1.0
102    21.0
103     NaN
104    22.0
105     2.0
106     NaN
107     3.0
108     3.0
109     NaN
110    16.0
111     NaN
112     NaN
113     5.0
114    12.0
115     8.0
116     2.0
117     3.0
118    10.0
119     2.0
120    16.0
121    13.0
122    11.0
123     7.0
124     3.0
125     5.0
126     4.0
127    10.0
128     2.0
129     6.0
130     NaN
Name: E19_period_use, Length: 131, dtype: float64

In [22]:
pd.unique(df.C01_respondent_roof_type)

array(['grass', 'mabatisloping', 'mabatipitched'], dtype=object)

In [23]:
df.C01_respondent_roof_type

0              grass
1              grass
2      mabatisloping
3      mabatisloping
4              grass
5              grass
6              grass
7      mabatisloping
8              grass
9      mabatisloping
10             grass
11     mabatisloping
12             grass
13             grass
14             grass
15             grass
16             grass
17             grass
18     mabatisloping
19             grass
20     mabatisloping
21             grass
22     mabatisloping
23     mabatisloping
24     mabatisloping
25     mabatisloping
26             grass
27             grass
28     mabatisloping
29             grass
           ...
101    mabatisloping
102    mabatisloping
103            grass
104    mabatisloping
105    mabatisloping
106            grass
107    mabatisloping
108            grass
109    mabatisloping
110    mabatisloping
111            grass
112            grass
113    mabatisloping
114            grass
115            grass
116            grass
117    mabatisloping
118            grass
119            grass
120            grass
121            grass
122    mabatisloping
123    mabatisloping
124    mabatisloping
125            grass
126            grass
127    mabatisloping
128            grass
129    mabatisloping
130    mabatisloping
Name: C01_respondent_roof_type, Length: 131, dtype: object

In [25]:
grouped_data = df.groupby('C01_respondent_roof_type')

In [26]:
grouped_data.describe()

                         A03_quest_no                                     \
                                count       mean        std   min    25%
C01_respondent_roof_type
grass                            73.0  82.342466  63.100497   1.0  31.00
mabatipitched                    10.0  90.000000  50.042204  32.0  67.25
mabatisloping                    48.0  89.291667  66.463543   3.0  28.25

                                              A11_years_farm             \
                           50%     75%    max          count       mean
C01_respondent_roof_type
grass                     60.0  143.00  201.0           73.0  14.986301
mabatipitched             73.0   79.50  182.0           10.0  21.300000
mabatisloping             78.0  135.75  202.0           48.0  15.979167

                            ...     gps:Latitude            gps:Longitude  \
                            ...              75%        max         count
C01_respondent_roof_type    ...
grass                       ...       -19.112054 -19.042909          73.0
mabatipitched               ...       -19.061123 -19.044026          10.0
mabatisloping               ...       -19.112164 -19.043024          48.0

                                                                     \
                               mean       std        min        25%
C01_respondent_roof_type
grass                     33.470935  0.028150  33.403836  33.482665
mabatipitched             33.459584  0.038406  33.403900  33.423833
mabatisloping             33.476127  0.021912  33.403890  33.483358


                                50%        75%        max
C01_respondent_roof_type
grass                     33.483396  33.483444  33.488268
mabatipitched             33.483403  33.483445  33.483511
mabatisloping             33.483399  33.483420  33.483556

[3 rows x 176 columns]

In [27]:
grouped_data.A03_quest_no.describe()

,count,mean,std,min,25%,50%,75%,max
C01_respondent_roof_type,,,,,,,,
grass,73.0,82.342466,63.100497,1.0,31.00,60.0,143.00,201.0
mabatipitched,10.0,90.000000,50.042204,32.0,67.25,73.0,79.50,182.0
mabatisloping,48.0,89.291667,66.463543,3.0,28.25,78.0,135.75,202.0

In [28]:
grouped_data.A03_quest_no.mean()

C01_respondent_roof_type
grass            82.342466
mabatipitched    90.000000
mabatisloping    89.291667
Name: A03_quest_no, dtype: float64

In [29]:
grouped_data.A03_quest_no.std()

C01_respondent_roof_type
grass            63.100497
mabatipitched    50.042204
mabatisloping    66.463543
Name: A03_quest_no, dtype: float64

In [30]:
grouped_data = df.groupby( ['C01_respondent_roof_type','C02_respondent_wall_type'] )

In [32]:
grouped_data.A11_years_farm.describe()

                                                   count       mean  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                22.0  16.772727
                         muddaub                    42.0  13.904762
                         sunbricks                   9.0  15.666667
mabatipitched            burntbricks                 6.0  18.000000
                         muddaub                     3.0  28.333333
                         sunbricks                   1.0  20.000000
mabatisloping            burntbricks                39.0  14.666667
                         cement                      1.0  10.000000
                         muddaub                     1.0  22.000000
                         sunbricks                   7.0  23.285714

                                                         std   min    25%  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                9.159600   5.0  11.25
                         muddaub                   13.110803   1.0   4.25
                         sunbricks                 10.087121   6.0  10.00
mabatipitched            burntbricks                4.857983   9.0  17.00
                         muddaub                   21.733231  12.0  16.00
                         sunbricks                       NaN  20.0  20.00
mabatisloping            burntbricks                8.285477   2.0   9.00
                         cement                          NaN  10.0  10.00
                         muddaub                         NaN  22.0  22.00
                         sunbricks                 12.632159  10.0  18.00

                                                    50%    75%   max
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               15.0  20.75  41.0
                         muddaub                   11.0  20.00  60.0
                         sunbricks                 12.0  17.00  35.0
mabatipitched            burntbricks               20.0  20.75  22.0
                         muddaub                   20.0  36.50  53.0
                         sunbricks                 20.0  20.00  20.0
mabatisloping            burntbricks               15.0  20.00  40.0
                         cement                    10.0  10.00  10.0
                         muddaub                   22.0  22.00  22.0
                         sunbricks                 22.0  22.50  50.0

# %load code/groupby
1. Read in the SAFI_results.csv dataset.
2. Get a list of the different 'C01_respondent_roof_type' values.
3. Groupby 'C01_respondent_roof_type' and describe the results.
4. Remove rows with NULL values for 'E_no_group_count'.
5. repeat steps 2 & 3 and compare the results.

In [48]:
df.dropna(subset=["E_no_group_count"]).mean()

Column1                            46.871795
A03_quest_no                       58.717949
A11_years_farm                     16.435897
B16_years_liv                      20.128205
B_no_membrs                         5.769231
C02_respondent_wall_type_other           NaN
C05_buildings_in_compound           1.717949
C06_rooms                           1.692308
D_plots_count                       1.589744
E17_no_enough_water                      NaN
E19_period_use                           NaN
E20_exper_other                          NaN
E21_other_meth                           NaN
E23_memb_assoc                           NaN
E24_resp_assoc                           NaN
E25_fees_water                           NaN
E26_affect_conflicts                     NaN
E_no_group_count                    1.589744
E_yes_group_count                        NaN
F04_need_money                           NaN
F05_money_source_other                   NaN
F06_crops_contr                          NaN
F10_liv_owned_other                      NaN
F_liv_count                         1.897436
G01_no_meals                        2.538462
_members_count                      5.769231
_note                                    NaN
gps:Accuracy                       13.333333
gps:Altitude                      625.538462
gps:Latitude                      -19.101465
gps:Longitude                      33.470225
dtype: float64

In [49]:
df.mean()

Column1                            65.000000
A03_quest_no                       85.473282
A11_years_farm                     15.832061
B16_years_liv                      23.053435
B_no_membrs                         7.190840
C02_respondent_wall_type_other           NaN
C05_buildings_in_compound           2.068702
C06_rooms                           1.740458
D_plots_count                       2.229008
E19_period_use                     12.043478
E_no_group_count                    1.589744
E_yes_group_count                   2.500000
F05_money_source_other                   NaN
F10_liv_owned_other                      NaN
F_liv_count                         2.366412
G01_no_meals                        2.603053
_members_count                      7.190840
_note                                    NaN
gps:Accuracy                       71.115344
gps:Altitude                      648.221374
gps:Latitude                      -19.102671
gps:Longitude                      33.471971
dtype: float64

In [41]:
df[df['E_no_group_count'].notnull()]

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.0,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
2,2,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Province1,District1,Ward2,Village2,40,...,no,1,2,10,NaN,13.0,674,-19.112108,33.483450,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,3,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,7,NaN,5.0,679,-19.112229,33.483424,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.0,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d
5,5,17/11/2016,6,2017-04-02T15:27:25.000Z,2017-04-02T17:28:02.000Z,Province1,District1,Ward2,Village2,3,...,no,1,2,3,NaN,12.0,692,-19.112196,33.483392,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
10,10,21/11/2016,11,2017-04-03T03:16:15.000Z,2017-04-03T03:31:10.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,6,NaN,10.0,707,-19.112191,33.483459,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
13,13,21/11/2016,14,2017-04-03T04:19:57.000Z,2017-04-03T04:50:05.000Z,Province1,District1,Ward2,Village2,20,...,no,3,3,10,NaN,11.0,698,-19.112221,33.483439,uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d
15,15,24/11/2016,16,2017-04-03T05:29:24.000Z,2017-04-03T05:40:53.000Z,Province1,District1,Ward2,Village2,24,...,no,4,3,6,NaN,9.0,709,-19.112107,33.483444,uuid:d17db52f-4b87-4768-b534-ea8f9704c565
16,16,21/11/2016,17,2017-04-03T05:41:42.000Z,2017-04-03T05:57:57.000Z,Province1,District1,Ward2,Village2,10,...,yes,1,2,8,NaN,10.0,710,-19.112183,33.483463,uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b
17,17,21/11/2016,18,2017-04-03T12:27:04.000Z,2017-04-03T12:39:48.000Z,Province1,District1,Ward2,Village2,6,...,no,3,2,4,NaN,17.0,685,-19.111335,33.476308,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
18,18,21/11/2016,19,2017-04-03T12:40:14.000Z,2017-04-03T12:53:29.000Z,Province1,District1,Ward2,Village2,20,...,no,2,3,9,NaN,30.0,716,-19.111426,33.476408,uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d
19,19,21/11/2016,20,2017-04-03T14:04:50.000Z,2017-04-03T14:20:04.000Z,Province1,District1,Ward2,Village2,24,...,yes,1,2,6,NaN,27.0,700,-19.111473,33.476192,uuid:d1005274-bf52-4e79-8380-3350dd7c2bac
21,21,21/11/2016,22,2017-04-03T16:28:52.000Z,2017-04-03T16:40:47.000Z,Province1,District1,Ward2,Village2,14,...,no,1,2,4,NaN,9.0,722,-19.112127,33.483508,uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9
22,22,21/11/2016,23,2017-04-03T16:41:04.000Z,2017-04-03T17:04:28.000Z,Province1,District1,Ward2,Village1,12,...,no,3,3,10,NaN,10.0,699,-19.112194,33.483383,uuid:58b37b6d-d6cd-4414-8790-b9c68bca98de
26,26,21/11/2016,27,2017-04-05T04:59:42.000Z,2017-04-05T05:14:45.000Z,Province1,District1,Ward2,Village1,36,...,no,3,3,7,NaN,14.0,679,-19.043001,33.405084,uuid:3197cded-1fdc-4c0c-9b10-cfcc0bf49c4d
29,29,21/11/2016,30,2017-04-05T06:05:58.000Z,2017-04-05T06:20:39.000Z,Province1,District1,Ward2,Village1,22,...,no,1,2,7,NaN,5.0,669,-19.043005,33.405054,uuid:59341ead-92be-45a9-8545-6edf9f94fdc6
30,30,21/11/2016,31,2017-04-05T06:21:20.000Z,2017-04-05T06:38:26.000Z,Province1,District1,Ward2,Village1,15,...,no,1,3,3,NaN,4.0,704,-19.043022,33.405094,uuid:cb06eb49-dd39-4150-8bbe-a599e074afe8
36,36,17/11/2016,37,2017-04-05T17:17:48.000Z,2017-04-05T17:26:51.000Z,Province1,District1,Ward2,Village3,8,...,no,2,3,3,NaN,12.0,711,-19.112180,33.483395,uuid:408c6c93-d723-45ef-8dee-1b1bd3fe20cd
38,38,17/11/2016,39,2017-04-06T08:31:17.000Z,2017-04-06T08:44:47.000Z,Province1,District1,Ward2,Village2,22,...,no,1,3,6,NaN,20.0,0,-19.043362,33.404667,uuid:c0fb6310-55af-4831-ae3d-2729556c3285
40,40,17/11/2016,41,2017-04-06T09:03:50.000Z,2017-04-06T09:14:05.000Z,Province1,District1,Ward2,Village2,22,...,no,2,3,7,NaN,13.0,679,-19.043394,33.404854,uuid:b3ba34d8-eea1-453d-bc73-c141bcbbc5e5
43,43,17/11/2016,44,2017-04-06T14:44:32.000Z,2017-04-06T14:53:01.000Z,Province1,District1,Ward2,Village3,3,...,no,3,2,2,NaN,11.0,716,-19.043151,33.404580,uuid:f9fadf44-d040-4fca-86c1-2835f79c4952
47,47,16/11/2016,48,2017-04-07T14:19:49.000Z,2017-04-07T14:40:23.000Z,Province1,District1,Ward2,Village3,48,...,no,3,3,7,NaN,12.0,689,-19.112230,33.483533,uuid:e180899c-7614-49eb-a97c-40ed013a38a2
48,48,16/11/2016,49,2017-04-07T14:43:09.000Z,2017-04-07T14:55:51.000Z,Province1,District1,Ward2,Villagez,12,...,no,2,3,6,NaN,12.0,694,-19.112283,33.483348,uuid:2303ebc1-2b3c-475a-8916-b322ebf18440
50,50,16/11/2016,51,2017-04-07T15:27:45.000Z,2017-04-07T15:39:10.000Z,Province1,District1,Ward2,Village3,11,...,no,1,3,5,NaN,12.0,709,-19.112214,33.483384,uuid:18ac8e77-bdaf-47ab-85a2-e4c947c9d3ce
54,54,16/11/2016,55,2017-04-08T05:52:32.000Z,2017-04-08T06:05:41.000Z,Province1,District1,Ward2,Village3,23,...,no,1,2,9,NaN,11.0,702,-19.112290,33.483334,uuid:883c0433-9891-4121-bc63-744f082c1fa0
58,58,16/11/2016,59,2017-04-08T08:52:05.000Z,2017-04-08T09:02:34.000Z,Province1,District1,Ward2,Village3,60,...,no,3,2,2,NaN,13.0,683,-19.112339,33.483333,uuid:1936db62-5732-45dc-98ff-9b3ac7a22518
61,61,16/11/2016,62,2017-04-08T13:27:58.000Z,2017-04-08T13:41:21.000Z,Province1,District1,Ward2,Village3,5,...,no,1,3,5,NaN,18.0,719,-19.112169,33.483397,uuid:c6597ecc-cc2a-4c35-a6dc-e62c71b345d6
62,62,16/11/2016,63,2017-04-08T13:41:39.000Z,2017-04-08T13:52:07.000Z,Province1,District1,Ward2,Village3,1,...,no,1,3,4,NaN,25.0,702,-19.112200,33.483390,uuid:86ed4328-7688-462f-aac7-d6518414526a
63,63,16/11/2016,64,2017-04-08T13:52:30.000Z,2017-04-08T14:02:24.000Z,Province1,District1,Ward2,Village3,1,...,no,1,3,6,NaN,9.0,704,-19.112196,33.483396,uuid:28cfd718-bf62-4d90-8100-55fafbe45d06
71,71,16/11/2016,127,2017-04-09T05:16:06.000Z,2017-04-09T05:27:41.000Z,Province1,District1,Ward2,Village3,10,...,no,1,2,4,NaN,8.0,676,-19.112214,33.483414,uuid:f6d04b41-b539-4e00-868a-0f62b427587d
74,74,24/11/2016,153,2017-04-09T06:16:49.000Z,2017-04-09T06:28:48.000Z,Province1,District1,Ward2,Village1,41,...,no,1,2,5,NaN,12.0,691,-19.112236,33.483454,uuid:7e7961ca-fa1c-4567-9bfa-a02f876e4e03
75,75,24/11/2016,155,2017-04-09T06:35:16.000Z,2017-04-09T06:48:01.000Z,Province1,District1,Ward2,Village2,5,...,no,1,2,4,NaN,13.0,713,-19.112207,33.483424,uuid:77b3021b-a9d6-4276-aaeb-5bfcfd413852
87,87,21/11/2016,201,2017-04-09T19:31:47.000Z,2017-04-09T19:45:38.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,4,NaN,10.0,685,-19.112172,33.483385,uuid:9e79a31c-3ea5-44f0-80f9-a32db49422e3
103,103,03/05/2017,109,2017-05-03T13:14:43.000Z,2017-05-03T13:37:53.000Z,Province1,District1,Ward2,Village2,12,...,no,3,3,4,NaN,10.0,699,-19.112224,33.483380,uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4
106,106,04/05/2017,118,2017-05-04T10:26:35.000Z,2017-05-04T10:46:35.000Z,Province1,District1,Ward2,Village1,6,...,no,1,3,5,NaN,9.0,713,-19.112206,33.483442,uuid:77335b2e-8812-4a35-b1e5-ca9ab626dfea
109,109,11/05/2017,115,2017-05-11T05:24:25.000Z,2017-05-11T05:41:56.000Z,Province1,District1,Ward2,Village1b,16,...,no,3,3,4,NaN,20.0,0,-19.111469,33.476105,uuid:628fe23d-188f-43e4-a203-a4bf3257d461
111,111,11/05/2017,116,2017-05-11T06:09:56.000Z,2017-05-11T06:22:19.000Z,Province1,District1,Ward2,Village1a,21,...,no,3,3,5,NaN,20.0,0,-19.111469,33.476105,uuid:cfee6297-2c0e-4f8a-94cc-9aaee0bd64cb
112,112,11/05/2017,117,2017-05-11T06:28:02.000Z,2017-05-11T06:55:35.000Z,Province1,District1,Ward2,Village1a,1,...,no,1,3,10,NaN,20.0,0,-19.111469,33.476105,uuid:3fe626b3-c794-48e1-a80f-5bfe440c507b
130,130,04/06/2017,200,2017-06-04T10:52:46.000Z,2017-06-04T11:08:13.000Z,Province1,District1,Ward2,Village3,20,...,no,3,3,8,NaN,20.0,681,-19.112183,33.483372,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [51]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [50]:
help(df.dropna)

Help on method dropna in module pandas.core.frame:

dropna(axis=0, how='any', thresh=None, subset=None, inplace=False) method of pandas.core.frame.DataFrame instance
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. deprecated:: 0.23.0: Pass tuple or list to drop on multiple
        axes.
    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.
    thresh : int, optional
        Require that many non-NA values.
    subset : array-like, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame
        DataFrame with NA entries dropped from it.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'born'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

In [52]:
import pandas as pd

In [61]:
df_a = pd.read_csv("data/SN7577i_a.csv")
df_b = pd.read_csv("data/SN7577i_b.csv")

In [62]:
df_a

   Id  Q1  Q2  Q3  Q4
0   1   1  -1   1   8
1   2   3  -1   1   4
2   3  10   3   2   6
3   4   9  -1  10  10
4   5  10   2   6   1
5   6   1  -1   1   1
6   7   1  -1   1   8
7   8   1  -1   1   1
8   9   9  -1  10  10
9  10   2  -1   1   1

In [63]:
df_b

     Id  Q1  Q2  Q3  Q4
0  1277  10  10   4   6
1  1278   2  -1   5   4
2  1279   2  -1   4   5
3  1280   1  -1   2   3
4  1281  10   2   3   4
5  1282   2  -1   3   6
6  1283  10  10   2  10
7  1284   9  -1   8   9
8  1285  11  11   1   2
9  1286  10   6   6   6

In [64]:
df_all = pd.concat( [df_a, df_b] )

In [65]:
df_all

     Id  Q1  Q2  Q3  Q4
0     1   1  -1   1   8
1     2   3  -1   1   4
2     3  10   3   2   6
3     4   9  -1  10  10
4     5  10   2   6   1
5     6   1  -1   1   1
6     7   1  -1   1   8
7     8   1  -1   1   1
8     9   9  -1  10  10
9    10   2  -1   1   1
0  1277  10  10   4   6
1  1278   2  -1   5   4
2  1279   2  -1   4   5
3  1280   1  -1   2   3
4  1281  10   2   3   4
5  1282   2  -1   3   6
6  1283  10  10   2  10
7  1284   9  -1   8   9
8  1285  11  11   1   2
9  1286  10   6   6   6

In [66]:
df_all = df_all.reset_index(drop=True)

In [67]:
df_all

      Id  Q1  Q2  Q3  Q4
0      1   1  -1   1   8
1      2   3  -1   1   4
2      3  10   3   2   6
3      4   9  -1  10  10
4      5  10   2   6   1
5      6   1  -1   1   1
6      7   1  -1   1   8
7      8   1  -1   1   1
8      9   9  -1  10  10
9     10   2  -1   1   1
10  1277  10  10   4   6
11  1278   2  -1   5   4
12  1279   2  -1   4   5
13  1280   1  -1   2   3
14  1281  10   2   3   4
15  1282   2  -1   3   6
16  1283  10  10   2  10
17  1284   9  -1   8   9
18  1285  11  11   1   2
19  1286  10   6   6   6

In [68]:
df_c = pd.read_csv("data/SN7577i_c.csv")
df_d = pd.read_csv("data/SN7577i_d.csv")

In [72]:
df_combined = pd.concat( [df_c, df_d] , axis = 1)

In [73]:
df_combined

   Id  maritl  numhhd  Id  Q1  Q2
0   1       6       3   1   1  -1
1   2       4       3   2   3  -1
2   3       6       2   3  10   3
3   4       4       1   4   9  -1
4   5       4       1   5  10   2
5   6       2       2   6   1  -1
6   7       2       2   7   1  -1
7   8       2       2   8   1  -1
8   9       6       2   9   9  -1
9  10       6       1  10   2  -1

In [75]:
df_cd = pd.merge(df_c, df_d, how="inner", on = "Id")

In [76]:
df_cd

   Id  maritl  numhhd  Q1  Q2
0   1       6       3   1  -1
1   2       4       3   3  -1
2   3       6       2  10   3
3   4       4       1   9  -1
4   5       4       1  10   2
5   6       2       2   1  -1
6   7       2       2   1  -1
7   8       2       2   1  -1
8   9       6       2   9  -1
9  10       6       1   2  -1

# %load code/join
1. Load `SN7577i_aa.csv` and `SN7577i_bb.csv` into dataframes and explore their contents to determine how they should be joined.
2. Using the `SN7577i_aa` and `SN7577i_bb` csv files, create a dataframe which is the result of an outer join using the 'Id' column to join on.
3. What do you notice about the column names in the new dataframe?
4. Using shift+ tab in Jupyter examine the possible parameters for the `merge` method.
5. re-write the code so that the columns names which are common to both files have suffixes indicating the filename from which they come
6. If you add the parameter 'indicator=True', what additional information is provided in the resulting dataframe?

In [85]:
df_aa = pd.read_csv("data/SN7577i_aa.csv")
df_bb = pd.read_csv("data/SN7577i_bb.csv")

In [92]:
df_aa

   Id  Q1  Q2  Q3
0   1   1  -1   1
1   2   3  -1   1
2   3  10   3   2
3   4   9  -1  10
4   5  10   2   6
5   6   1  -1   1
6   7   1  -1   1
7   8   1  -1   1
8   9   9  -1  10
9  10   2  -1   1

In [93]:
df_bb

     Id  Q1  Q2  Q4
0  1277  10  10   6
1  1278   2  -1   4
2  1279   2  -1   5
3  1280   1  -1   3
4  1281  10   2   4
5  1282   2  -1   6
6  1283  10  10  10
7  1284   9  -1   9
8  1285  11  11   2
9  1286  10   6   6

In [118]:
df_aabb = pd.merge(df_aa,df_bb, how='outer', on='Id', suffixes=("_aa", "_bb"))

In [119]:
df_aabb

      Id  Q1_aa  Q2_aa    Q3  Q1_bb  Q2_bb    Q4
0      1    1.0   -1.0   1.0    NaN    NaN   NaN
1      2    3.0   -1.0   1.0    NaN    NaN   NaN
2      3   10.0    3.0   2.0    NaN    NaN   NaN
3      4    9.0   -1.0  10.0    NaN    NaN   NaN
4      5   10.0    2.0   6.0    NaN    NaN   NaN
5      6    1.0   -1.0   1.0    NaN    NaN   NaN
6      7    1.0   -1.0   1.0    NaN    NaN   NaN
7      8    1.0   -1.0   1.0    NaN    NaN   NaN
8      9    9.0   -1.0  10.0    NaN    NaN   NaN
9     10    2.0   -1.0   1.0    NaN    NaN   NaN
10  1277    NaN    NaN   NaN   10.0   10.0   6.0
11  1278    NaN    NaN   NaN    2.0   -1.0   4.0
12  1279    NaN    NaN   NaN    2.0   -1.0   5.0
13  1280    NaN    NaN   NaN    1.0   -1.0   3.0
14  1281    NaN    NaN   NaN   10.0    2.0   4.0
15  1282    NaN    NaN   NaN    2.0   -1.0   6.0
16  1283    NaN    NaN   NaN   10.0   10.0  10.0
17  1284    NaN    NaN   NaN    9.0   -1.0   9.0
18  1285    NaN    NaN   NaN   11.0   11.0   2.0
19  1286    NaN    NaN   NaN   10.0    6.0   6.0